<% id = "post-comments-#{post.id}" %>
<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">


  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Comments</h2>
      </div>
      <div class="modal-body">
        <% post.comments.each do |f| %>
          <div class="panel panel-primary">
              <div class="panel-heading">
        			  <p>
                  <small>Posted by:</small>
                  <%= f.user.username %>
                </p>
              </div>
              <div class="panel-body"> 
                <p>
                  <%= f.body %>
                </p>
              </div>
            </div>
          <% end %>
          <h2>Add a comment:</h2>
          <%= form_for([post, post.comments.build]) do |t| %>
            <p>
              <%= t.text_area :body, style: "min-width: 100%", rows: "5"%>
            </p>
    			<div class="modal-footer">
              <p>
                <%= t.button 'Save', :class => 'btn btn-primary' %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </p>
            <% end %>
    			</div>
      </div>
    </div>
  </div>
</div>