<div class="card-block"
  <li><h4 class="card-title"><%= f.title %></h4></li>

  <div class="panel-body flex-text">
    <li><%= f.description %></li>
  </div>

  <div class="panel-body flex-text">
    <li>Tags: <%= raw f.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></li>
    <li>Location: <%= f.loc_name %></li>
    <li>Latitude: <%= f.lat %>, Longitude: <%= f.lng %></li>
  </div>
</div>

<div class="panel-body">
<%= render 'modal', post: f %>
<%= render "comments", post: f %>
    <ul class="nav navbar-nav">
    <li>

      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#post-comments-<%= f.id %>">
        Comment
        <span class="badge"><%= f.comments.count %></span>
      </button>   
    </li>
        <li>
          <% if logged_in? && current_user == f.user %>           
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#edit-post-<%= f.id %>">
              Edit Post
            </button>    
            </li>
            <li> 
              <%= button_to f, method: :delete, remote: true, class: "btn btn-primary btn-sm" do %>
                Delete Post
              <% end %>
            </li>
          <% end %>
     </ul>
  </div>