<%= form_for pass_post, id: "postform", :html => { :multipart => true } do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>

		<%= f.label :lat %>
		<%= f.text_field :lat %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description, style: "min-width: 100%", rows: "5" %> 
	</p>
	<p>
		<%= f.label :tag_list, "Tags (separated by commas)" %><br />
		<%= f.text_field :tag_list, size: '40x8' %>
	</p>

	<p>
		Location: <%= f.text_field :location, id: "geocomplete", type: "text", placeholder: "Type in a location"  %>

	</p>
	<p>
	        <%#= f.text_field :lat, name: "lat", id: "geocomplete" %>
	        <%= f.text_field :lng, name: "lng" %>
	 </p>
	        <%#=f.hidden_field :lat , name: "lat" %>
    		<%=f.hidden_field :lng , name: "lng", id: "lng" %>


	    		
	<%= render 'images_upload', :post => f %>  

	<%= f.fields_for :attachements do |fa| %>
		<div class="modal-pictures">
			Change Image:<%= fa.file_field :image %>
			Delete Image <%= fa.check_box "_destroy" %><br />
			<%= image_tag fa.object.image.url(:small), class: "img-thumbnail" %>
			<br />
		</div>
	<% end %>

	<div class="modal-footer">
	<%= f.button 'Save', id: "save-button", :class => 'btn btn-primary' %>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
<% end %>

	<script>

 
	$(document).ready(function() {
	  $("#geocomplete").geocomplete({
          details: "form",
          types: ["geocode", "establishment"],
        });

	  	
	  	$("#hiddenObject").val($("lng").html());

      });
	

    </script>