<%= form_for pass_post, :html => { :multipart => true } do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description, style: "min-width: 100%", rows: "5" %> 
	</p>
	<p>
		<%= f.label :tag_list, "Tags (separated by commas)" %><br />
		<%= f.text_field :tag_list, size: '40x8' %>
	</p>
	<p>
	<%= render 'images_upload', :post => f %>  

	<% pass_post.attachements.each do |a| %>
		<%= image_tag a.image.url(:small) %>
		
			<%= link_to "Edit Image", edit_post_attachement_path(pass_post, a) %>
		
		<%#= link_to "Delete Picture", a.image.delete %>
	<% end %>

	<div class="modal-footer">
	<%= f.button 'Save', :class => 'btn btn-primary' %>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
<% end %>