

<!-- Post Body-->
<section class="post-nav">
  <div class="sort-bar" >
  <ul id="post-tabs" class="nav nav-tabs">
      <li class=""><%= link_to( 'Most Recent', 'posts?sort_by=date_newest') %></li>
      <li class=""><%= link_to('Oldest', 'posts?sort_by=date_oldest') %></li>
      <li class=""><a href="#growth" data-toggle="tab">Most Popular</a></li>
      <li class=""><a href="#support" data-toggle="tab">Most Viewed</a></li>
      <li class=""><a href="#culture" data-toggle="tab">Most Comments</a></li>
  </ul>
</section>


<ul class="post card-deck-wrapper">
  <div class="flex-row row">
	<% @posts.each do |f| %>


      <div class="col-xs-6 col-sm-4 col-lg-3">
        <%= link_to(post_path(f), class: "no-style") do %>

      		<li> <%#= f.created_at.strftime('%D') %></li>
      		<div class="panel-primary" id="post-container">

            <div class="flex-row">
              <li>
                <%= image_tag f.attachements.first.image.url(:large), class: "post-img" %>
              </li>
            </div>
            <div class="card-block">
              <li><h4 class="card-title"><%= f.title %></h4></li>
                <div class="panel-body flex-text">
                  <li><%#= f.description %><%=h truncate(f.description, :length => 80) %></li>
                  <li>   
                  <button class="btn btn-primary like-button"> いいね！ </button>
                  <br />     
                    <% if f.views.present?  %>    
                      <%= f.views %>
                      <%=image_tag("views_icon.png", class: "post-icon")%>
                    <% end %>
                    <% if f.comments.count > 0  %>  
                      <%= f.comments.count %>
                      <%=image_tag("comments_icon.png", class: "post-icon")%>
                    <% end %>  
                    <% if f.likes.count > 0 %>    
                      <%= f.likes %>
                      <%=image_tag("heart_icon.png", class: "post-icon")%>
                    <% end %>
                    <% if f.attachements.count > 0  %>  
                      <%= f.attachements.count %>
                      <%=image_tag("picture_icon.png", class: "post-icon")%>
                    <% end %>  
                  
                  </li> 
              
                </div>

            </div>


    		  	</div>
            <% end %>
            <small>Posted by <%= f.user.username %></small><br />
		  </div>

  	<% end %>
    </div>
</ul>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<style>
/* Extra Media Query Below for Retina Iphones and Smaller */
@media only screen and (max-width : 480px){
  .flex-row > [class*='col-'] {
      width: 100%;
  }
  .flex-row  {
    padding-left: 0px;
    padding-right: 0px;
  }
}
</style>

