
<%= render 'modal', post: Post.new %>

<!-- Post Body-->

<ul class="post">
	<% @posts.each do |f| %>
  		<li>Posted: <%= f.created_at.strftime('%D') %></li>
  		<div class="panel panel-primary" id="post-container">
  		  <div class="panel-heading">
  				<h3 class="panel-title"><li><%= f.title %> </li></h3>
  			</div>
  			<div class="panel-body">
  				<li><%= f.description %></li>
  			</div>
        <% if f.image.exists? %>
          <div class="panel-body">
              <%= image_tag f.image.url(:small) %>
          </div>
        <% end %>
        <div class="panel-body">
          <% f.attachements.each do |a| %>
            <%= image_tag a.image.url(:small), class: "post-img" %>
          <% end %>
        </div>
        
        <div class="panel-body">
          <li>Tags: <%= raw f.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></li>
          <li>Location: <%= f.loc_name %></li>
          <li>Latitude: <%= f.lat %>, Longitude: <%= f.lng %></li>
        </div>


  			<div class="panel-body">
        <%= render 'modal', post: f %>
        <%= render "comments", post: f %>
						<ul class="nav navbar-nav">
            <li>

              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post-comments-<%= f.id %>">
                <!--<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br />-->
                Comment
                <span class="badge"><%= f.comments.count %></span>
              </button>   
            </li>
                <li>
                  <% if logged_in? && current_user == f.user %>           
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-post-<%= f.id %>">
                      Edit Post
                     <!-- <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
                    </button>    
                    </li>
    						    <li> 
                      <%= button_to f, method: :delete, remote: true, class: "btn btn-primary" do %>
                        Delete Post
                        <!--<span class="glyphicon glyphicon-trash"></span>-->
                      <% end %>
                    </li>
                  <% end %>
						 </ul>
					</div>
           <small>Created By <%= f.user.username %></small>
		  		</li>
		  	</div>
		</div>
  	<% end %>
</ul>



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
