
  


<!-- Post Body-->
<section class="post-nav">
  <div class="sort-bar" >
  <ul id="post-tabs" class="nav nav-tabs">
      <li class=""><%= nav_link( 'Most Recent', 'posts?sort_by=date_newest') %></li>
      <li class=""><%= nav_link('Oldest', 'posts?sort_by=date_oldest') %></li>
      <li class=""><a href="#growth" data-toggle="tab">Most Popular</a></li>
      <li class=""><a href="#support" data-toggle="tab">Most Viewed</a></li>
      <li class=""><a href="#culture" data-toggle="tab">Most Comments</a></li>
  </ul>
</section>


<ul class="post card-deck-wrapper">
  <div class="flex-row row">
	<% @posts.each do |f| %>


      <div class="col-xs-6 col-sm-4 col-lg-3">
      		<li> <%#= f.created_at.strftime('%D') %></li>
      		<div class="panel panel-primary" id="post-container">

            <div class="">
              <li>
              <%# f.attachements.first do |a| %>
                <%#= image_tag a.image.url(:large), class: "post-img flex-row" %>
              <%# end %>
              <%= image_tag f.attachements.first.image.url(:large), class: "post-img flex-row" %>
              </li>
            </div>
            <div class="card-block">
              <li><h4 class="card-title"><%= f.title %></h4></li>
                <div class="panel-body flex-text">
                  <li><%#= f.description %><%=h truncate(f.description, :length => 80) %></li>
                </div>
                <%= render "display", post: f %>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#post-display-<%= f.id %>">Read More</button>

            </div>


    		  	</div>
            <small>Posted by <%= f.user.username %></small>
		  </div>

  	<% end %>
    </div>
</ul>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<style>
/* Extra Media Query Below for Retina Iphones and Smaller */
@media only screen and (max-width : 480px){
  .flex-row > [class*='col-'] {
      width: 100%;
  }
  .flex-row  {
    padding-left: 0px;
    padding-right: 0px;
  }
}
</style>

