
<%= render 'modal', post: Post.new %>

<!-- Post Body-->

<ul class="post">
	<% @posts.each do |f| %>
  		<li>Posted: <%= f.created_at.strftime('%D') %></li>
  		<div class="panel panel-primary">
  		  <div class="panel-heading">
  				<h3 class="panel-title"><li><%= f.title %> </li></h3>
  			</div>
  			<div class="panel-body">
  				<li><%= f.description %></li>
  			</div>
        <div class="panel-body">
          <li>Tags: <%= raw f.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></li>
        </div>

  			<div class="panel-body">
        <%= render 'modal', post: f %>
        <%= render "comments", post: f %>
						<ul class="nav navbar-nav navbar-right">
            <li>

              <button type="button" class="btn btn-primary btn-lg" data-toggle="comments" data-target="#post-<%= f.id %>">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              </button>   
            </li>
                <li>
                  <% if logged_in? && current_user == f.user %>           
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#edit-post-<%= f.id %>">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>    
                    </li>
    						    <li> 
                      <%= button_to f, method: :delete, remote: true, class: "btn btn-primary btn-lg" do %>
                        <span class="glyphicon glyphicon-trash"></span>
                      <% end %>
                  <% end %>
						 </ul>
            <small>Created By <%= f.user %></small>

					</div>
		  		</li>
		  	</div>
		</div>
  	<% end %>
</ul>

