<h1> New Post </h1>

<%= form_for :post, url: posts_path do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_field :description, size: '60x8' %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>