
<div class="post post-show">
  <div class="col-xs-12 col-md-8">
    <li><h4 class="card-title"><%= @post.title %></h4></li>
      <div class="panel-body flex-text">
        <li><%= @post.description %></li>
      </div>

      <div class="panel-body">
        <li class="">Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></li>
        <li>Location: <%= @post.loc_name %></li>
        <!--li>Latitude: <%#= post.lat %>, Longitude: <%#= post.lng %></li>-->
      </div>
        <% @post.attachements.each do |a| %>
          <%= image_tag a.image.url(:large), class: "flex-row modal-pictures img-thumbnail" %>
        <% end %>
      <div class="panel-body">
        <ul class="nav navbar-nav">
          <% if logged_in? && current_user == @post.user %>           
            <%= render 'modal', post: @post %>
            <li> 
              <%= button_to @post, method: :delete, remote: true, class: "btn btn-primary btn-default" do %>
                Delete Post
              <% end %>
            </li>

              <%= link_to 'Edit Post', edit_post_path(@post), type: "button", class: "btn btn-primary btn-default" %>
              
            </li>
          <% end %>
          <%= link_to 'Back', posts_path, type: "button", class: "btn btn-primary btn-default" %>
         </ul>
      </div>

      <h3 class="card-title">Comments</h3>
      <div class="anel-body flex-text">
        <% @post.comments.each do |f| %>
          <div class="panel-primary">
              <div class="panel-body"> 
                  <%= f.body %>
              </div>
              <div class="panel-footer">
                  <small>
                   Posted by: <%= f.user.username %>
                  </small>
              </div>
            </div>
          <% end %>
          <h2>Add a comment:</h2>
          <%= form_for([@post, @post.comments.build]) do |t| %>
            <p>
              <%= t.text_area :body, style: "min-width: 100%", rows: "5"%>
            </p>
          <div class="modal-footer">
              <p>
                <%= t.button 'Save Comment', :class => 'btn btn-primary' %>
                <%= link_to 'Back', posts_path, type: "button", class: "btn btn-primary btn-default" %>
              </p>
            <% end %>
          </div>
  </div>          
</div>     
<!--
    </div>
  </div>
</div>
-->
